.DS_Store
www/iCloud Drive/Desktop
www/iCloud Drive/Documents
iCloud Drive

# Dependencies
node_modules/
.npm/

# Build artifacts
android/app/build/
android/.gradle/
android/capacitor-cordova-android-plugins/
.gradle/
build/
